html{
    font-size: 16px;
}

.navbar-fixed-top
{
    background-color: rgb(66,119,252);
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}


.navbar-inverse .navbar-brand {
    color: white;
}

