<div class="row">
    <div class="col-md-2 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <button  class="btn btn-primary" bind-routerLink="['Form']">
            <i class="fa fa-th"></i>
            <span>Formular-Tests</span>
        </button>
    </div>
    <div class="col-md-2 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <button  class="btn btn-primary" bind-routerLink="['Github']">
            <i class="fa fa-github"></i>
            <span>Service-Test</span>
        </button>
    </div>
</div> 

